.reset {
  position: static;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  background: none;
}
.bbox,
.bbox * {
  box-sizing: border-box;
}
.interactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.interactive:active {
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
}
.abs100x100 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.centering {
  display: table !important;
  width: 100%;
  height: 100%;
}
.centering > *:first-child {
  width: 100%;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.centering > *:first-child > *:first-child {
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .hidden-on-mobile {
    display: none !important;
  }
}
@media screen and (min-width: 769px) {
  .hidden-on-desktop {
    display: none !important;
  }
}
.rur:not(:empty):after {
  content: ' \20BD ';
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
#site-wrap {
  background-color: white;
}
#site-wrap,
#site-wrap * {
  box-sizing: border-box;
}
#site-wrap section + section {
  margin-top: 3%;
}
@media screen and (max-width: 768px) {
  #site-wrap section + section {
    margin-top: 10%;
  }
}
#site-wrap section:last-of-type {
  padding-bottom: 3%;
}
#site-wrap section > .contenu {
  max-width: 1370px;
  margin: auto;
  padding: 1rem;
  font-size: 1.1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1440px) {
  #site-wrap section > .contenu {
    max-width: 1130px;
  }
}
@media screen and (min-width: 1440px) {
  #site-wrap section > .contenu {
    font-size: 15.84px;
  }
}
#site-wrap section > .contenu > * {
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  #site-wrap section > .contenu {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 576px) {
  #site-wrap section > .contenu {
    font-size: 1.3em;
  }
}
#site-wrap section > .contenu h2 {
  text-align: center;
  margin-bottom: 1em;
  font-size: 3em;
  max-width: 20em;
}
@media screen and (max-width: 768px) {
  #site-wrap section > .contenu h2 {
    font-size: 2.6em;
    padding: 0 0.5em;
  }
}
@media screen and (max-width: 576px) {
  #site-wrap section > .contenu h2 {
    font-size: 2em;
  }
}
#site-wrap section > .contenu h3 {
  text-align: center;
  font-size: 2em;
}
#site-wrap section > .contenu ul li:before,
#site-wrap section > .contenu ul li:after {
  display: none;
}
#site-wrap section > .contenu p {
  margin-bottom: 0;
}
#site-wrap section > .contenu .buttonlike {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1;
  font-size: inherit;
  height: 2.6em;
  padding: 0 2em;
  border: 0;
  text-decoration: none;
  border-radius: 0.25em;
  cursor: pointer;
}
#site-wrap section > .contenu .buttonlike:active {
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
}
#site-wrap section > .contenu .buttonlike.transparent {
  color: inherit;
  border: 1px solid currentColor;
}
#site-wrap section > .contenu .buttonlike.yellow {
  color: white;
  background-color: #F0AB00;
}
#site-wrap section > .contenu .buttonlike.blue {
  color: white;
  background-color: #0093D0;
}
#site-wrap section > .contenu .buttonlike.deepblue {
  color: white;
  background-color: #0F2855;
}
#site-wrap section > .contenu .buttonlike.red {
  color: white;
  background-color: #D7232A;
}
body {
  background-color: white!important;
}
body .contentLayout-BaseContainer,
body .destinationDetailLayout-BaseContainer {
  max-width: 100%;
  overflow: hidden;
}
body .contentLayout-BaseContainer .notcritical,
body .destinationDetailLayout-BaseContainer .notcritical {
  padding: 0!important;
}
body .contentLayout-BaseContainer .notcritical > .container,
body .destinationDetailLayout-BaseContainer .notcritical > .container {
  margin: 0!important;
  padding: 0!important;
  max-width: none!important;
}
body .contentLayout-BaseContainer .notcritical > .container .widgetcontainer,
body .destinationDetailLayout-BaseContainer .notcritical > .container .widgetcontainer {
  margin-bottom: 0;
}
body .contentLayout-BaseContainer .notcritical > .container > .row:not(:nth-child(2)),
body .destinationDetailLayout-BaseContainer .notcritical > .container > .row:not(:nth-child(2)) {
  display: none;
}
body .contentLayout-BaseContainer .notcritical > .container > .row > * > h1,
body .destinationDetailLayout-BaseContainer .notcritical > .container > .row > * > h1 {
  display: none;
}
body > div.contentLayout-BaseContainer > div.notcritical > div > div:nth-child(2) > div.col-sm-12.order-1.col-md-9.rightcol > h1 {
  display: none;
}
.widgetcontainer:nth-of-type(n+2) {
  background-color: white;
  max-width: 1180px;
  margin: auto;
  padding: 30px;
}
.widgetcontainer:nth-of-type(n+2) > .row {
  max-width: 1180px;
  margin: auto;
  padding: 30px;
}
*[data-module="packagetourlistwithoutfilters"],
*[data-module="bestdealsbox"] {
  display: none!important;
}
#site-wrap {
  background-color: white;
}
#site-wrap section.intro > .contenu {
  position: relative;
  background: url("../iii/intro-desktop.jpg") center no-repeat;
  background-size: cover;
  padding: 0;
}
#site-wrap section.intro > .contenu:before {
  content: '';
  display: block;
  padding-top: 36.49635036%;
}
#site-wrap section.intro > .contenu > * {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  #site-wrap section.intro > .contenu {
    position: relative;
    background-image: url(../iii/intro-mobile.jpg);
  }
  #site-wrap section.intro > .contenu:before {
    content: '';
    display: block;
    padding-top: 136.11111111%;
  }
  #site-wrap section.intro > .contenu > * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
#site-wrap section.intro > .contenu h1 {
  position: absolute;
  left: 10%;
  top: 34%;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  font-size: 4vw;
}
@media screen and (min-width: 1440px) {
  #site-wrap section.intro > .contenu h1 {
    font-size: 57.6px;
  }
}
@media screen and (max-width: 768px) {
  #site-wrap section.intro > .contenu h1 {
    width: 100%;
    left: 0;
    top: 15%;
    text-align: center;
    font-size: 8vw;
  }
}
#site-wrap section.generic > .contenu p {
  text-align: center;
  font-weight: normal;
  max-width: 50em;
}
#site-wrap section.c2a > .contenu p {
  font-size: 1.5em;
  text-align: center;
}
#site-wrap section.benefits > .contenu .benefits {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  #site-wrap section.benefits > .contenu .benefits {
    flex-wrap: wrap;
  }
}
#site-wrap section.benefits > .contenu .benefits > * {
  flex: 1 1 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2em;
}
#site-wrap section.benefits > .contenu .benefits > * > * {
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  #site-wrap section.benefits > .contenu .benefits > * {
    flex: 1 1 30%;
  }
}
@media screen and (max-width: 576px) {
  #site-wrap section.benefits > .contenu .benefits > * {
    flex: 1 1 45%;
    font-size: 3vw;
  }
}
#site-wrap section.benefits > .contenu .benefits > * .icon {
  position: relative;
  width: 8em;
  max-width: 132px;
  background: center no-repeat;
  background-size: contain;
}
#site-wrap section.benefits > .contenu .benefits > * .icon:before {
  content: '';
  display: block;
  padding-top: 100%;
}
#site-wrap section.benefits > .contenu .benefits > * .icon > * {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#site-wrap section.benefits > .contenu .benefits > * .label {
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.1;
  margin-top: 1em;
}
#site-wrap section.cities-and-resorts > .contenu .tile-set {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#site-wrap section.cities-and-resorts > .contenu .tile-set .tile {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  background-color: #abc;
  position: relative;
  flex: 1 1 30%;
  margin: 0.25em;
  overflow: hidden;
  border-radius: 0.5em;
  font-size: 2em;
  cursor: pointer;
}
#site-wrap section.cities-and-resorts > .contenu .tile-set .tile:before {
  content: '';
  display: block;
  padding-top: 100%;
}
#site-wrap section.cities-and-resorts > .contenu .tile-set .tile > * {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  #site-wrap section.cities-and-resorts > .contenu .tile-set .tile {
    font-size: 3vw;
    flex: 1 1 30vw;
  }
}
@media screen and (max-width: 576px) {
  #site-wrap section.cities-and-resorts > .contenu .tile-set .tile:last-child:nth-child(odd) {
    position: relative;
  }
  #site-wrap section.cities-and-resorts > .contenu .tile-set .tile:last-child:nth-child(odd):before {
    content: '';
    display: block;
    padding-top: 50%;
  }
  #site-wrap section.cities-and-resorts > .contenu .tile-set .tile:last-child:nth-child(odd) > * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 400px) {
  #site-wrap section.cities-and-resorts > .contenu .tile-set .tile {
    font-size: 7vw;
    flex: 1 1 100%;
  }
}
#site-wrap section.cities-and-resorts > .contenu .tile-set .tile:hover .visual.align-horizon > img {
  transform: scale(1.2);
}
#site-wrap section.cities-and-resorts > .contenu .tile-set .tile:hover .visual > img {
  transform: scale(1.1);
  filter: none;
}
#site-wrap section.cities-and-resorts > .contenu .tile-set .tile:hover .label {
  opacity: 0;
}
#site-wrap section.cities-and-resorts > .contenu .tile-set .tile:hover .learn-more {
  opacity: 1;
}
#site-wrap section.cities-and-resorts > .contenu .tile-set .tile:hover .learn-more .buttonlike {
  transform: none;
}
#site-wrap section.cities-and-resorts > .contenu .tile-set .tile .visual.align-horizon > img {
  top: 0.3em;
  transform: scale(1.1);
}
#site-wrap section.cities-and-resorts > .contenu .tile-set .tile .visual > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateZ(0);
  -webkit-transition: transform 1s, filter 0.5s;
  -moz-transition: transform 1s, filter 0.5s;
  -ms-transition: transform 1s, filter 0.5s;
  -o-transition: transform 1s, filter 0.5s;
  transition: transform 1s, filter 0.5s;
}
#site-wrap section.cities-and-resorts > .contenu .tile-set .tile .label {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: normal;
  line-height: 1.2;
  color: white;
  padding: 2em;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
@media screen and (max-width: 768px) {
  #site-wrap section.cities-and-resorts > .contenu .tile-set .tile .label {
    opacity: 1!important;
  }
}
@media screen and (max-width: 480px) {
  #site-wrap section.cities-and-resorts > .contenu .tile-set .tile .label {
    font-weight: bold;
  }
}
@media screen and (max-width: 400px) {
  #site-wrap section.cities-and-resorts > .contenu .tile-set .tile .label {
    font-weight: normal;
  }
}
#site-wrap section.cities-and-resorts > .contenu .tile-set .tile .learn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  #site-wrap section.cities-and-resorts > .contenu .tile-set .tile .learn-more {
    opacity: 1!important;
    align-items: flex-end;
    padding: 1em;
  }
}
#site-wrap section.cities-and-resorts > .contenu .tile-set .tile .learn-more .buttonlike {
  border-radius: 3px;
  font-size: 0.62em;
  transform: translateY(50%);
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
}
@media screen and (max-width: 768px) {
  #site-wrap section.cities-and-resorts > .contenu .tile-set .tile .learn-more .buttonlike {
    transform: none!important;
  }
}
#site-wrap section.other-resorts > .contenu .tile-set {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  #site-wrap section.other-resorts > .contenu .tile-set {
    flex-wrap: wrap;
  }
}
#site-wrap section.other-resorts > .contenu .tile-set .tile {
  flex: 1 1 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0.5em;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
#site-wrap section.other-resorts > .contenu .tile-set .tile > * {
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  #site-wrap section.other-resorts > .contenu .tile-set .tile {
    flex: 1 1 30%;
    padding: 1em 0.5em;
    font-size: 3vw;
  }
}
#site-wrap section.other-resorts > .contenu .tile-set .tile:hover .icon {
  transform: scale(1.05);
  background-size: 110%;
  border-radius: 0.5em;
}
#site-wrap section.other-resorts > .contenu .tile-set .tile .icon {
  position: relative;
  width: 10em;
  max-width: 270px;
  background: center no-repeat;
  background-size: 100%;
  border-radius: 1em;
  overflow: hidden;
  -webkit-transition: background 1s, transform 0.5s, border-radius 0.5s;
  -moz-transition: background 1s, transform 0.5s, border-radius 0.5s;
  -ms-transition: background 1s, transform 0.5s, border-radius 0.5s;
  -o-transition: background 1s, transform 0.5s, border-radius 0.5s;
  transition: background 1s, transform 0.5s, border-radius 0.5s;
}
#site-wrap section.other-resorts > .contenu .tile-set .tile .icon:before {
  content: '';
  display: block;
  padding-top: 132.96296296%;
}
#site-wrap section.other-resorts > .contenu .tile-set .tile .icon > * {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#site-wrap section.other-resorts > .contenu .tile-set .tile .label {
  line-height: 1.1;
  margin-top: 1em;
  padding: 0 1em;
}
#site-wrap section.message-us > .contenu .messengers {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
#site-wrap section.message-us > .contenu .messengers a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  width: 5em;
  max-width: 80px;
  background: center no-repeat;
  background-size: contain;
  margin: 0 1.5em;
}
#site-wrap section.message-us > .contenu .messengers a:active {
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
}
#site-wrap section.message-us > .contenu .messengers a:before {
  content: '';
  display: block;
  padding-top: 100%;
}
#site-wrap section.message-us > .contenu .messengers a > * {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#site-wrap section.x-links > .contenu .buttonlike-list {
  margin-top: 2em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#site-wrap section.x-links > .contenu .buttonlike-list .buttonlike {
  margin: 0.5em;
  border-radius: 3px;
  font-weight: normal;
}
@media screen and (max-width: 768px) {
  #site-wrap section.x-links > .contenu .buttonlike-list .buttonlike {
    flex: 1 1 auto;
  }
}
#site-wrap section.tours {
  margin-top: 0;
}
#site-wrap section.banner.cis > .contenu {
  padding: 0;
  position: relative;
  background: url("../iii/banner-cis-desktop.jpg") center no-repeat;
  background-size: cover;
}
#site-wrap section.banner.cis > .contenu:before {
  content: '';
  display: block;
  padding-top: 39.37125749%;
}
#site-wrap section.banner.cis > .contenu > * {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  #site-wrap section.banner.cis > .contenu {
    position: relative;
    background-image: url(../iii/banner-cis-mobile.jpg);
  }
  #site-wrap section.banner.cis > .contenu:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
  #site-wrap section.banner.cis > .contenu > * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
#site-wrap section.banner.cruises > .contenu {
  padding: 0;
  position: relative;
  background: url("https://cdn.coral.ru/content/cms/russia/available-destinations/visual-russia-cruises-desktop.jpg") center no-repeat;
  background-size: cover;
}
#site-wrap section.banner.cruises > .contenu:before {
  content: '';
  display: block;
  padding-top: 32.93413174%;
}
#site-wrap section.banner.cruises > .contenu > * {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  #site-wrap section.banner.cruises > .contenu {
    position: relative;
    background-image: url(https://cdn.coral.ru/content/cms/russia/available-destinations/visual-russia-cruises-mobile.jpg);
  }
  #site-wrap section.banner.cruises > .contenu:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
  #site-wrap section.banner.cruises > .contenu > * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
.widgetcontainer:not(:first-of-type) {
  background-color: white;
  max-width: 1180px;
  margin: auto;
  padding: 30px;
}
